html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #202020;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

.header {
	text-align: center;
	top: 15px;
  background: #5261B1;
  border: 3px solid #A9B0D8;
  padding: 10px;
  color: #a9b0d8;
}

.madlibs-form {
	position: absolute;
  top: 125px;
  left: 492px;
  width: 573px;
  padding: 10px 150px;
  border: 2px solid #A9B0D8;
  color: #a9b0d8;
}

.results {
	position: absolute;
  top: 125px;
  left: 492px;
  width: 573px;
  padding: 10px 50px;
  border: 2px solid #A9B0D8;
  color: #a9b0d8;
  font-size: 18px;
}

.results h1 {
	margin: 20px 15px 20px 1px;
  border-bottom: 1px solid #A9B0D8;
}

h3 {
	margin: 15px 40px;
}

.text-inputs {
	margin: 0 50px;
}

input {
  border: 1px solid #a9b0d8;
  padding: 5px;
  width: 100%;
}

input::placeholder {
  color: #a9b0d8;
}

button {
	margin: 20px 100px;
}

.footer {
	  position: absolute;
    bottom: 0px;
    left: 15px;
    padding: 20px;
    background-color: #5261B1;
    border: 3px solid #A9B0D8;
    width: 98%;
    height: 20px;
    color: #a9b0d8;
}
