{% extends 'madlibs-base.html' %}
	{% block content %}

	    <div class="madlibs-form">
		  <form action="/results" method="POST">	
					{% for key, value in game.iteritems() %}
					 	<h3>{{ key }}:</h3>
			    		{% for item in range(0, value) %}
			    			<div class="row">
			    				<div class="text-inputs">
				    				<input type="text" name="{{ key }}-{{ item + 1 }}" placeholder="{{ key }}-{{ item + 1 }}">
				    			</div>
			    			</div>
			    		{% endfor %}
					{% endfor %}
					<button type="submit">Submit</button>
		    </form>
		 </div><!-- madlibs form -->
 	{% endblock %}