<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madlibs Game</title>
</head>
<body>
	<div class="container-fluid">
		<form action="/game" method="POST">
	    	<h1>Welcome to Madlibs!</h1>
	    		
				{% for key, value in game.iteritems() %}
				 	<h3>{{ key }}: {{ value }}</h3>
		    		{% for item in range(0, value) %}
		    			<div class="row">
		    				<input type="text" name="{{ key }}-{{ item + 1 }}" placeholder="{{ key }}-{{ item + 1 }}">
		    			</div>
		    		{% endfor %}
				{% endfor %}
				<button type="submit">Submit</button>
	    </form>
	    {{ script }}
	</div>
</body>
</html>